/* style.css */

@keyframes animateBackground {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes twinkling {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #f0f0f0; /* Светло-серый цвет фона */
    color: #000; /* Черный цвет текста */
}

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1000px 1000px white, 400px 400px white, 1200px 1200px white, 1500px 1500px white, 250px 800px white;
  animation: twinkling 2s infinite ease-in-out;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff; /* Белый цвет фона контейнера */
    border-radius: 15px;
    color: #000; /* Черный цвет текста */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Тень для контейнера */
}

h1, h2, h3 {
    color: #000; /* Черный цвет заголовков */
    text-shadow: 0 0 3px #4eb5f1; /* Синий свечение для "космического" стиля */
}

input, select, button {
    padding: 10px 15px;
    margin: 10px;
    border: 1px solid #ccc; /* Серый цвет границ */
    border-radius: 5px;
    background-color: #f5f5dc; /* Светло-бежевый цвет фона */
    color: #000; /* Черный цвет текста */
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(0,0,0,0.1); /* Легкая тень */
}

input:focus, select:focus, button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.2); /* Тень при фокусе */
}

button {
    cursor: pointer;
    background-color: #f5f5dc; /* Светло-бежевый цвет фона кнопок */
    color: #000; /* Черный цвет текста кнопок */
    text-transform: uppercase;
    border: 1px solid #4eb5f1; /* Граница кнопок с синим свечением */
}

button:hover {
    background-color: #e6e6fa; /* Светлый лиловый цвет при наведении */
    box-shadow: 0 0 10px #4eb5f1; /* Синее свечение при наведении */
}

@media only screen and (max-width: 480px) {
    .container {
        padding: 10px;
    }

    input, select, button {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
