venv/
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
.build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
cover/
*.mo
*.pot
.local/
.db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
.profile
.python-version
celerybeat-schedule
celerybeat.pid
*.sage.py
.env
.envrc
.env.example
/instance
/.webassets-cache
/.pytest_cache
/.vscode
.idea/
*.swp
*~
.DS_Store
# Jupyter Notebook files
*.ipynb
# Jupyter configuration files
jupyter_notebook_config.py
# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Log files
*.log
