<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Прогнозирование с учетом недопоставки</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div style="text-align: center;">
        <div>
            <span>Введите значение недопоставки по ДПМ</span><br>
            <span>(например, если недопоставка 3%, то введите 0.03)</span>
        </div>
        <form action="/index_2" method="post">
            <input type="text" name="dpm_value" value="{{ last_dpm_value }}" placeholder="Значение ДПМ">
            <br><br>
        <div>
            <span>Введите значение недопоставки по АЭС</span><br>
        </div>
            <input type="text" name="aes_value" value="{{ last_aes_value }}" placeholder="Значение АЭС">
            <br><br>
            <label>Выберите метод прогнозирования:</label>
            <select name="method">
                <option value="sarima">SARIMA</option>
                <option value="catboost">CatBoost</option>
            </select>
            <br><br>
            <input type="submit" value="Расчет с недопоставкой">
        </form>
        {% if message %}
        <p style="color: red;">{{ message }}</p>
        {% endif %}
    </div>
</body>
</html>
