<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Прогнозирование ППП</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div style="text-align: center;">
        <h2>Введите значение ППП</h2>
        <form action="/" method="post">
            <input type="text" name="ppp_value" value="{{ last_ppp_value }}" placeholder="Значение ППП">
            <br><br>
            <label>Выберите метод прогнозирования:</label>
            <select name="method">
                <option value="sarima">SARIMA</option>
                <option value="catboost">CatBoost</option>
            </select>
            <br><br>
            <input type="submit" value="Расчет">
        </form>
        {% if message %}
        <p style="color: red;">{{ message }}</p>
        {% endif %}
    </div>
</body>
</html>      
